*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex; /* Расположить блок .content посередине .page. */
  /*border: 3px solid #fff; /* для визуальной верстки */
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Начало моего кода */

.content {
  margin: auto; /* Расположить блок .content посередине .page. */
  display: flex; /* Расположить элементы .content в строку, прижав к низу вертикальной оси. */
  justify-content: center; /* Расположить элементы .content в строку, прижав к низу вертикальной оси. */
  align-items: flex-end; /* Расположить элементы .content в строку, прижав к низу вертикальной оси. */
  gap: 30px; /* Задать горизонтальные размеры .content и отступы между его элементами. */
  /*border: 3px solid #ad35ca; /* для визуальной верстки */
  /*width: 100%; /* Задать горизонтальные размеры .content и отступы между его элементами. */
  /*height: 100%; /* Задать горизонтальные размеры .content и отступы между его элементами. */
  /*margin: 133px 30px; /* При включении этих отступов верстка уезжает вниз. Задать горизонтальные размеры .content и отступы между его элементами. */
}

/* Раздел с результатом */

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /*border: 3px solid #563cde; /* для визуальной верстки */
}

.result__video-container {
  /*border: 3px solid #3cde5a; /* для визуальной верстки */
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  /*display: grid; /* Расположить элементы .search-form в строку и пропорционально распределить между ними свободное пространство, прижать их к началу контейнера. */
  /*grid-template-columns: repeat(3, 1fr); /* Расположить элементы .search-form в строку и пропорционально распределить между ними свободное пространство, прижать их к началу контейнера. */
  gap: 40px; /* Расположить элементы .search-form в строку и пропорционально распределить между ними свободное пространство, прижать их к началу контейнера. */
  /*justify-content: start; /* Расположить элементы .search-form в строку и пропорционально распределить между ними свободное пространство, прижать их к началу контейнера. */
  /*border: 3px solid #de7d3c; /* для визуальной верстки */
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  /*border: 3px solid #de623c; /* для визуальной верстки */
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(:active) {
  outline: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background-color: #1b1919;
  border: 1px solid #FFF;
}

.search-form__pseudo-checkbox:active {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label-text {
  color: #FFF;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.search-form__textfield {
  background-color: #1b1919;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  margin: 1px;
  width: 225px;
  height: 27px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.submit_button-border { /* обернул в div кнопку, чтобы при действии focus обвести дополнительной границей */
  margin-block-start: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_button-border:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  border: 1px solid #fff;
  background-color: #1b1919;
  cursor: pointer;
}

.search-form__submit-button {
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 1px;
  width: 194px;
  height: 34px;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

/* Раздел со списком роликов */

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px; /* Растянуть .content__details во всю доступную ширину и высоту контейнера и добавить отступы между заголовком и зоной с карточками. */
  /*border: 3px solid #3cd9de; /* для визуальной верстки */
  width: 399px; /* Растянуть .content__details во всю доступную ширину и высоту контейнера и добавить отступы между заголовком и зоной с карточками. */
  /*height: 100%; /* Растянуть .content__details во всю доступную ширину и высоту контейнера и добавить отступы между заголовком и зоной с карточками. */
}

.title {
  /*border: 3px solid #3cde5a; /* для визуальной верстки */
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  /*width: 399px;*/
  height: 298px; /* Установить вертикальный размер для .content__list и добавить скролл при переполнении. */
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  /*border: 3px solid #5c3cde; /* для визуальной верстки */
  overflow: auto; /* Установить вертикальный размер для .content__list и добавить скролл при переполнении. */
  position: relative;
}

.content__card-link {
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__card-link:hover .content__video-card-description-container {
  text-decoration-line: underline;
  text-decoration-color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  padding: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 200px;
  height: 103px;
}

.content__video-card-title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  /*background-size: cover;
  background-position: center;*/
}

.more-button {
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 399px;
  height: 34px;
  margin: 1px;
}

.more_button-border { /* обернул в div кнопку, чтобы при действии focus обвести дополнительной границей */
  display: flex;
  justify-content: center;
  align-items: center;
}

.more_button-border:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}